
.heading{
    padding: 10px 10px;
    border-radius: 2px;
    color: black;
    margin-bottom:10px;
}
a.removeBtn{color:#D60202;border:0;padding:2px 10px;font-size:0.9em;}
a.removeBtn:visited{color:#D60202;border:0;padding:2px 10px;font-size:0.9em;}

#emptyBtn {
    background-color: #D60200;
    border: #D60200 1px solid;
    padding: 1px 10px;
    color: #ffffff;
    font-size: 0.8em;
    float: right;
    text-decoration: none;
    border-radius: 4px;
}
.addBtn{
    display: block;
    width: auto;
    background: #0171E2;
    padding: 15px;
    margin: 25px;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    border: #0171E2;
    font-size: 17px;
}
.cart-item {border-bottom: #79b946 1px dotted;padding: 10px;}
.product-item {	float:left;	background: #ffffff;margin:15px 10px;	padding:5px;border:#CCC 1px solid;border-radius:4px;}
.product-item div{text-align:center;	margin:10px;}
.product-price {color: #005dbb;font-weight: 600;}
.product-image {height:100px;background-color:#FFF;}